{% extends "base.html" %}
{% block contents %}
<img src="{{ post_detail.photo.url }}" alt= "" height="200"> 
<h1>제목: {{ post_detail.title }}</h1>
<img src="{{ sellerInfo.photo.url }}" alt="" height="100">
<h2>판매자: {{ sellerInfo.userName }}</h2>
<h2>가격: {{ post_detail.price  }}원</h2>
<h5>작성일: {{ post_detail.createdDate }}</h5>
<h4>글: {{ post_detail.text }}</h4>
<a href="{% url 'main' %}">목록</a>
<input id="room-name-submit" type="button" value="채팅하기"/>
<body>
    <script>
    document.querySelector('#room-name-submit').onclick = function(e) {
        // var roomName = document.querySelector('#room-name-input').value;
        console.log('post_detail.idx: ', {{ post_detail.idx}});
        var roomName = {{ post_detail.idx }};
        window.location.pathname = '/chat/' + roomName + '/';
    };
    </script>
</body>
{% endblock %}

