{% extends "base.html" %}
{% block contents %}
<!-- Masthead-->
<header class="masthead bg-primary text-white text-center" style="padding-top: calc(1rem + 10px); padding-bottom: 1rem;">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar" style="height: 200px; border-radius: 10px;" src="{{ post_detail.photo.url }}" alt="..." />
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0" style="font-size: 1.75rem;">{{ post_detail.title }}</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-0" style="background-color: #1abc9c;">{{ post_detail.price  }}원</p>
        <p class="masthead-subheading font-weight-light mb-0" style="background-color: #1abc9c;">{{ post_detail.createdDate }}</p>
    </div>
</header>
    <div class="container" style="margin-top: 50px;">
        <div style="display: flex;">
            <img src="{{ sellerInfo.photo.url }}" alt="" style="border-radius: 60px; margin-left: 30px; width: 80px; height: 100px;">
            <h2 style="height: 38px; border: solid 3px #ade3ca; padding: 5 5 5 5; border-radius: 8px; margin-top: 30px; margin-left: 20px;">{{ sellerInfo.userName }}</h2>
            <i class="bi bi-heart" style="color: red; display: flex; align-items: center; margin-left: 10px; font-size:2.5rem;"></i>
        </div>
    </div>

<!-- About Section-->
<section id="about">
    <div class="container">
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row" style="margin-bottom: 20px ; margin-left: 15px; margin-right: 15px; border-radius: 10px; background-color: rgb(199, 199, 199) !important;">
            <div class="col-lg-4 me-auto"><p class="lead" style="color: black;">{{ post_detail.text }}</p></div>
            <div class="col-lg-4 me-auto"><p class="lead" style="color: black;">작성일: {{ post_detail.createdDate }}</p></div>
            <br>
        </div>
        
            
    </div>
</section>
<!-- btn-->
<div class="container">
    <div class="form-floating mb-3 navbar" style="margin: 0 auto;">
        <a class="btn btn-primary btn-xl" style="width: 150px;" href="{% url 'main' %}">목록</a>
        {% if status_code == 200 %}
           <input class="btn btn-primary btn-xl " style="width: 150px;" id="room-name-submit" type="button" value="채팅하기"/>
           <!--<a class="btn btn-primary btn-xl" style="width: 150px;" href="http://127.0.0.1:8000/chat"+multiIdx>채팅하기</a>-->
        {% else %}
            <!--<input class="btn btn-primary btn-xl " style="width: 150px;" id="post-update" type="button" value="수정하기"/> -->
            <a class="btn btn-primary btn-xl" style="width: 150px;" href="{% url 'update_post' post_detail.idx %}">수정하기</a>
        {% endif %}
    </div>
</div>
<!-- Footer-->
<nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-bottom" style="background-color: #e5fff3;" id="mainNav">
    <div class="container" style="background-color: #e5fff3;">
        

        <div class="col-lg-4" style="background-color: #e5fff3; ">
            <a class="btn btn-social mx-1" href="{% url 'main' %}"><img class="img-fluid" src="../../static/assets/Vector.png" alt="..." /></a>
            <a class="btn btn-social mx-1" href="#!"><img class="img-fluid" src="../../static/assets/Building.png" alt="..." /></a>
            <a class="btn btn-social mx-1" href="{% url 'create_post' %}"><img class="img-fluid" src="../../static/assets/Plus.png" alt="..." /></a>
            <a class="btn btn-social mx-1" href="{% url 'my_chat_imbuyer' %}"><img class="img-fluid" src="../../static/assets/Chatdots.png" alt="..." /></a>
            <a class="btn btn-social mx-1" href="{% url 'my_detail' %}"><img class="img-fluid" src="../../static/assets/Person.png" alt="..." /></a>
            
        </div>
    </div>
</nav>
<body>
    <script>
    var roomName = {{ post_detail.idx }};
    var i = {{ like }};
    var myInfoIdx = {{ myInfo.idx }};
    var sellerIdx = {{ sellerInfo.idx }};
    var status_code = {{status_code}};
    var multiIdx = roomName + '-'  + sellerIdx + '-'  + myInfoIdx;
    console.log('before multiIdx: ', multiIdx);
    
    console.log('after multiIdx: ', multiIdx);
    console.log('i: ', i);
    console.log('type i: ', typeof(i));
    console.log('multiIdx: ', multiIdx);
    if(i==1){
        document.querySelector("i").classList.remove('bi-heart');
        document.querySelector("i").classList.add('bi-heart-fill');
            }
    else if (i==0){
        document.querySelector("i").classList.remove('bi-heart-fill');
        document.querySelector("i").classList.add('bi-heart');
    }

    if(status_code==200){
        document.querySelector('#room-name-submit').onclick = function(e) {
            // var roomName = document.querySelector('#room-name-input').value;
            console.log('post_detail.idx: ', {{ post_detail.idx}});
            
            console.log('room-name-submit()/multiIdx: ', multiIdx);
            window.location.pathname = '/chat/' + multiIdx;
        };
    }
    else{   
        //document.querySelector('#post-update').onclick = function(e) {
            // var roomName = document.querySelector('#room-name-input').value;
            console.log('#post-update onclick')
            // window.location.pathname = '/chat/' + multiIdx + '/';
        //};
    }     
    document.querySelector("i").addEventListener("click", function (event) {
            if(i==0){
                this.classList.remove('bi-heart');
                this.classList.add('bi-heart-fill');
                i++;
            }
            else if (i==1){
                this.classList.remove('bi-heart-fill');
                this.classList.add('bi-heart');
                i--;
            }
            console.log('after i: ', i)
        fetch("http://127.0.0.1:8000/detail-post/" + roomName, {
            method: 'post',
            headers: { "X-CSRFToken": '{{csrf_token}}'},
            body: JSON.stringify({
                like: i
            })
        })
        .then(res => {
            console.log(res)
        })    
    })

    </script>
</body>
{% endblock %}

