@import "variables.css";
@import "reset.css";
@import "./components/footer.css";
@import "./components/topIcon.css";
@import "./views/mainPage.css";

html,body{
    margin: 0;
    padding: 0;
    height: 100%;
}
#app{
    height: 100%;
}