.main-page{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 89%;
}
.main-page__input{
    width: 100%;
    height:10%;
    display: flex;
    justify-content: center;
    position: relative;
}
.main-page__input form{
    text-align: center;
    height: 50%;
    width: 60%;
    position: absolute;
    bottom: 0;
}
#main--input{
    background-color: var(--gary);
    border: none;
    border-radius: 5%;
    width: 60%;
    height: 80%;
}
#main--btn{
    background-color: var(--green);
    border-radius: 40%;
    border: none;
    width: 10%;
    height: 80%;
}
.main-page__con{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;   
}
.main-page__con--box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
    position: absolute;
    bottom: 0;
}
.main-page__con a{
    text-decoration: none;
    padding: 0 2%;
    height: 100%;
    width: 7%;
    margin: 1%;
    border: 2px solid var(--yellow);
    border-radius: 40%;
    font-weight: 600;
    color: var(--yellow);
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-page__con a:hover{
    color: white;
    background-color: var(--yellow);
}
.main-page__items{
    width: 100%;
    height: 84%;
}
.main-page__items--box{
    padding: 0 20%;
    height: 100%;
}
.main-page__items--item{
    height: 30%;
    border: 1px solid red;
}