{% load static %}
<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Chat Room</title>
    <style>
        
    </style>
</head>

<body>


    <header class="masthead bg-primary text-white text-center" style="padding-top: calc(1rem + 10px); padding-bottom: 1rem;">
        <div class="container d-flex align-items-center flex-column">
            <!-- Masthead Heading-->
            <h5 class="masthead-heading text-uppercase mb-0" style="font-size: 1.75rem;"><h6>내 채널이름:</h6><input type="text" id="my-channel-name" style="font-size:15px; border-radius: 8px;"></h5>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light" style="margin-bottom: 30px;">
                <div class="divider-custom-line"></div>
            </div>
            <!-- Masthead Subheading-->
            <textarea id="chat-log" cols="100" rows="20" style="width:80%;  border-radius: 8px;"></textarea><br/>
            <div style="display: flex; width: 80%; margin: 0 auto;">
                <input id="chat-message-input" type="text" size="100" style="width: 70%; border-radius: 8px;"/>
                <input id="chat-message-submit" class="btn btn-primary" style="margin-left: 20px; background-color: aliceblue; color:black;" type="button" value="보내기"/>
            </div>
            <br/><br/><br/><br/><br/>
        </div>
        
    </header>











<!-- Footer-->
<nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-bottom" style="background-color: #e5fff3;" id="mainNav">
    <div class="container" style="background-color: #e5fff3;">
        

        <div class="col-lg-4" style="background-color: #e5fff3; ">
            <a class="btn btn-social mx-1" href="{% url 'main' %}"><img class="img-fluid" src="../../static/assets/Vector.png" alt="..." /></a>
            <a class="btn btn-social mx-1" href="#!"><img class="img-fluid" src="../../static/assets/Building.png" alt="..." /></a>
            <a class="btn btn-social mx-1" href="#!"><img class="img-fluid" src="../../static/assets/smalllogo.png" alt="..." /></a>
            <a class="btn btn-social mx-1" href="#!"><img class="img-fluid" src="../../static/assets/Chatdots.png" alt="..." /></a>
            <a class="btn btn-social mx-1" href="{% url 'my_detail' %}"><img class="img-fluid" src="../../static/assets/Person.png" alt="..." /></a>
            
        </div>
    </div>
</nav>








    
</body>

<script src="{% static 'js/reconnecting-websocket.js' %}"></script>
<script>
    var roomName = {{ room_name_json }};

    // var chatSocket = new WebSocket(
    var chatSocket = new ReconnectingWebSocket(
        'ws://' + window.location.host +
        '/ws/chat/' + roomName + '/');

    chatSocket.onmessage = function(e) {
        console.log('[ko]onmessage/start');
        var data = JSON.parse(e.data);
        var message = data['message'];
        // var my_channel_name = data['my_channel_name'];
        // var sender_channel_name = data['sender_channel_name'];
        // console.log('chatSocket.onmsg/my_channel_name: ', my_channel_name);
        // console.log('chatSocket.onmsg/sender_channel_name: ', sender_channel_name);
        // console.log('chatSocket.onmsg/e: ', e);
        // console.log('chatSocket.onmsg/e.data: ', e.data);
        // document.querySelector('#my-channel-name').value = my_channel_name;
        // document.querySelector('#chat-log').value += ('<Sended by: '+sender_channel_name+'>\n'+message + '\n');
        document.querySelector('#chat-log').value += (+message + '\n');
        console.log('[ko]onmessage/end');
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message,
            'command': 'fetch_messages'
        }));
        messageInputDom.value = '';
    };
</script>

</html>