<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/youthmarket/youthmarket/post/templates/css/styles.css">
    <script src="https://kit.fontawesome.com/f14ec0ada8.js" crossorigin="anonymous"></script>
    <title>메인페이지</title>
</head>
<body>
    <div id="app">
        <div class="topIcon">
            <img src="/youthmarket/youthmarket/post/templates/images/smalllogo.png" alt="로고">
        </div>
        <div class="main-page">
            <div class="main-page__input">
                <form>
                    <input id="main--input" type="text">
                    <button id="main--btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
            <div class="main-page__con">
                <div class="main-page__con--box">
                    <a href="#">조건1</a>
                    <a href="#">조건2</a>
                    <a href="#">조건3</a>
                    <a href="#">조건4</a>
                </div>
            </div>
            <div class="main-page__items">
                <div class="main-page__items--box">
                </div>
            </div>
        </div>
        <footer class="footer">
            <img src="/youthmarket/youthmarket/post/templates/images/Vector.png" alt="홈">
            <img src="/youthmarket/youthmarket/post/templates/images/Building.png" alt="커뮤니티">
            <img src="/youthmarket/youthmarket/post/templates/images/smalllogo.png" alt="로고">
            <img src="/youthmarket/youthmarket/post/templates/images/Chat dots.png" alt="채팅">
            <img src="/youthmarket/youthmarket/post/templates/images/Person.png" alt="내정보">
        </footer>
    </div>
</body>
</html>